<!DOCTYPE html>
<html>
    <head >
        <title >You are blocked...</title>
        <meta charset="utf-8">
    </head>
    <body style="background: #fff url({{url_for('static',filename='2134508.jpg')}}) center center/cover no-repeat padding-box fixed;">
        <h1 style="-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 0px 16px #FF0000;
-moz-box-shadow: 0px 0px 16px #FF0000;
box-shadow: 0px 0px 16px #FF0000;
background-image: -moz-linear-gradient(top, #FF8C00, #FF0000);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FF8C00), color-stop(1.0, #FF0000));
border: 0px solid #EEE8AA;
background-color: #FFFFFF;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #FFFFFF;
text-align: center;
outline: 0px solid #E0FFFF;
outline-offset: 49px;">You are blocked....</h1>
        <br>
      <h3 style="-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
-webkit-box-shadow: 0px 0px 16px #FF0000;
-moz-box-shadow: 0px 0px 16px #FF0000;
box-shadow: 0px 0px 16px #FF0000;
background-image: -moz-linear-gradient(top, #FF8C00, #FF0000);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FF8C00), color-stop(1.0, #FF0000));
border: 0px solid #EEE8AA;
background-color: #FFFFFF;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #FFFFFF;
text-align: center;
outline: 0px solid #E0FFFF;
outline-offset: 49px;">Multiple fraudlent attempts detected (Try logging in after few minutes)</h3>
        
    </body>
    
  
</html>


