<!DOCTYPE html>
<html>
    <head >
        <title >Big Data Project</title>
      <h1 style="font-size: 25px;
    color: #ffc107;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 0px 0px 0 rgb(191,129,0),
                 1px 1px 0 rgb(128,66,0),
                 2px 2px 0 rgb(64,2,0),
                 3px 3px 0 rgb(0,-62,0),
                 4px 4px  0 rgb(-64,-126,0),
                 5px 5px 4px rgba(0,0,0,1),
                 5px 5px 1px rgba(0,0,0,0.5),
                 0px 0px 4px rgba(0,0,0,.2);
                 text-align:center">
         BIG DATA ANALYTICS PROJECT
      </h1>
   

        <style>
        </style>
    </head>
    <body style="background: #fff url({{url_for('static',filename='103.jpg')}}) center center/cover no-repeat fixed;">
        <button style=""><a href="/login.html">Login</a></button>
        <button style=""><a href="/signup.html">Sign Up</a></button>
        <h1 style="background-image: -moz-linear-gradient(top, #FFC0CB, #48D1CC);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFC0CB), color-stop(1.0, #48D1CC));
border: 0px solid #FFD700;
background-color: #DDDDDD;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #FFFF8;
text-align: center;">Name Of Students</h1>
        
        <table  style="background: linear-gradient(90deg, #0a40cd 0%, #d90000 100%);"class="Names" border="2px red solid">
            <th style="background-image: -moz-linear-gradient(top, #87CEFA 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #87CEFA), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Roll Number</th>
            <th style="background-image: -moz-linear-gradient(top, #87CEFA 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #87CEFA), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Name</th>
            <tr>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">BL.EN.U4EAC19032</td>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Kumbhar Onkar Sandeep</td>
            </tr>
            <tr>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">BL.EN.U4EAC19053</td>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Poluru Venkata Koushik</td>
            </tr>
            <tr>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">BL.EN.U4EAC19057</td>
                <td style="background-image: -moz-linear-gradient(top, #FFE4C4 40%, #FFE4C4);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFE4C4), color-stop(1.0, #FFE4C4));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Ruthvik Reddy Gaddam</td>
            </tr>
        </table>
        <h2 style="background-image: -moz-linear-gradient(top, #FFC0CB, #48D1CC);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFC0CB), color-stop(1.0, #48D1CC));
border: 0px solid #FFD700;
background-color: #DDDDDD;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #FFFF8;
text-align: center;">Project Details</h2>
        <hr>
        <h4 style="-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;
-webkit-box-shadow: 0px 0px 19px #87CEFA;
-moz-box-shadow: 0px 0px 19px #87CEFA;
box-shadow: 0px 0px 19px #87CEFA;
background-image: -moz-linear-gradient(top, #FFC0CB 40%, #F0E68C);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #FFC0CB), color-stop(1.0, #F0E68C));
border: 0px solid #228B22;
background-color: #F08080;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 10pt;
color: #000000;
text-align: center;">Project Name:- Log File analysis and ip blocking</h4>
<p>
  <h3>Discription:</h3>
  This Project has been made in flask as backend and web technologies of frontend.<br>
  We are making log files which will be made in real time as server access any web page or attempts login.<br>
  We have demonstarated following attacks:<br>
  <li>
    <ul>$$ Brute-Force Attack</ul>
    In cryptography, a brute-force attack consists of an attacker submitting many passwords or passphrases with the hope of eventually guessing correctly.<br>
    The attacker systematically checks all possible passwords and passphrases until the correct one is found.
    <ul>$$ DOS attack</ul>
    A Denial-of-Service (DoS) attack is an attack meant to shut down a machine or network, making it inaccessible to its intended users. <br>
    DoS attacks accomplish this by flooding the target with traffic, or sending it information that triggers a crash.
  </li>
  <pre>**NOTE** We have used brup-suite as attacking environment.</pre>

</p>
  <ul style="-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: 14px 14px 18px #48D1CC;
-moz-box-shadow: 14px 14px 18px #48D1CC;
box-shadow: 14px 14px 18px #48D1CC;
background-image: -moz-linear-gradient(top, #E0FFFF, #87CEEB);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #E0FFFF), color-stop(1.0, #87CEEB));
background-color: #DDDDDD;
padding: 10px;
font-family: Verdana, Geneva, sans-serif;
font-size: 12pt;
color: #000000;
text-align: center;">
  Tools Used:
  <li>HTML, CSS, Python 3.9</li>
  <li>FLask, Bash scripts</li>
  <li>Map reduce, Burp suite, Ngrok</li>
            <li>MSFconsole(if needed)</li>
      </ul>

      </body>
</html>